# Pandas Tips

First, let's import the required libraries and the downloaded flights dataset from [kaggle](https://www.kaggle.com/usdot/flight-delays).

In [1]:
import pandas as pd
import numpy as np
np.random.seed(0)

In [2]:
flights = pd.read_csv('./data/flights.csv')
flights.head().T

              0     1     2     3     4
MONTH         1     1     1     1     1
DAY           1     1     1     1     1
WEEKDAY       4     4     4     4     4
AIRLINE      WN    UA    MQ    AA    WN
ORG_AIR     LAX   DEN   DFW   DFW   LAX
DEST_AIR    SLC   IAD   VPS   DCA   MCI
SCHED_DEP  1625   823  1305  1555  1720
DEP_DELAY    58     7    36     7    48
AIR_TIME     94   154    85   126   166
DIST        590  1452   641  1192  1363
SCHED_ARR  1905  1333  1453  1935  2225
ARR_DELAY    65   -13    35    -7    39
DIVERTED      0     0     0     0     0
CANCELLED     0     0     0     0     0

### Tip 0 - Read Documentation
To read about any Pandas or Python object on Jupyter notebook, place '?' after the object and press *Shift+Enter*.

In [3]:
pd.Series.agg?

To read the source code, append '??' and press *Shift+Enter*.

In [4]:
pd.Series.agg??

### Tip 1 - Get Count of DataFrame Column Data Types
This is a quick way to get a count of columns by data type. It is also a efficient way to check that columns have expected data types. If a numeric column has a string in one of the rows, Pandas converts the data type for the column to 'object'.

In [5]:
flights.get_dtype_counts()

float64    3
int64      8
object     3
dtype: int64

### Tip 2 - DataFrame Metadata
The dataframe method *info()* provides some useful dataframe metadata, including data types of all columns and the total memory consumed.

In [6]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
MONTH        58492 non-null int64
DAY          58492 non-null int64
WEEKDAY      58492 non-null int64
AIRLINE      58492 non-null object
ORG_AIR      58492 non-null object
DEST_AIR     58492 non-null object
SCHED_DEP    58492 non-null int64
DEP_DELAY    57659 non-null float64
AIR_TIME     57474 non-null float64
DIST         58492 non-null int64
SCHED_ARR    58492 non-null int64
ARR_DELAY    57474 non-null float64
DIVERTED     58492 non-null int64
CANCELLED    58492 non-null int64
dtypes: float64(3), int64(8), object(3)
memory usage: 5.6+ MB

### Tip 3 - Check Memory Usage
This tip shows how to check column-level memory usage. Notice that the parameter *deep* has been set to *True* to get system level memory consumption.

In [7]:
flights.memory_usage(deep=True)

Index             42
MONTH         467936
DAY           467936
WEEKDAY       467936
AIRLINE      1813252
ORG_AIR      1871744
DEST_AIR     1871744
SCHED_DEP     467936
DEP_DELAY     467936
AIR_TIME      467936
DIST          467936
SCHED_ARR     467936
ARR_DELAY     467936
DIVERTED      467936
CANCELLED     467936
dtype: int64

### Tip 4 - Convert Data Types
A dictionary of column names and desired data types can be passed to the dataframe method *astype()*.

In [8]:
flights[['DIVERTED', 'CANCELLED']].dtypes

DIVERTED     int64
CANCELLED    int64
dtype: object

In [9]:
flights1 = flights.astype({'DIVERTED':bool, 'CANCELLED':bool})

In [10]:
flights1[['DIVERTED', 'CANCELLED']].dtypes

DIVERTED     bool
CANCELLED    bool
dtype: object

To convert columns to numeric data type and force non-numeric values to *NA* (missing values), pandas function *to_numeric()* can be used.

In [11]:
flights1['MIXED_TYPE'] = np.random.choice([0, 1, 2, 3, 4, 5, 'Beetrooter', \
        'Lord Downer', 'Man of Steel', 'Mad Monk'], size=flights1.shape[0])

flights1['MIXED_TYPE'].dtypes

dtype('O')

Count the frequency of values in *MIXED_TYPE*.

In [12]:
flights1['MIXED_TYPE'].value_counts()

4               5962
5               5951
3               5849
1               5843
Beetrooter      5837
2               5827
Mad Monk        5818
Man of Steel    5814
0               5799
Lord Downer     5792
Name: MIXED_TYPE, dtype: int64

Convert data type of *MIXED_TYPE* to numeric, coercing texts to missing values.

In [13]:
flights1['MIXED_TYPE'] = pd.to_numeric(flights1['MIXED_TYPE'], errors='coerce')
flights1['MIXED_TYPE'].dtypes

dtype('float64')

Count the frequncy of values in *MIXED_TYPE* column again.

In [14]:
flights1.MIXED_TYPE.value_counts(dropna=False)

NaN     23261
 4.0     5962
 5.0     5951
 3.0     5849
 1.0     5843
 2.0     5827
 0.0     5799
Name: MIXED_TYPE, dtype: int64

### Tip 5 - Select DataFrame Columns By Data Types

Using the dataframe method *select_dtypes()*, select only columns with object and boolean data types.

In [15]:
flights1.select_dtypes(include=[object, bool]).head()

  AIRLINE ORG_AIR DEST_AIR  DIVERTED  CANCELLED
0      WN     LAX      SLC     False      False
1      UA     DEN      IAD     False      False
2      MQ     DFW      VPS     False      False
3      AA     DFW      DCA     False      False
4      WN     LAX      MCI     False      False

### Tip 6 - Count Unique Values
The method *nunique()* returns unique values in a Series, including DataFrame columns, which are Series. Let's find the count of unique airlines in the flights dataset:

In [16]:
flights1.AIRLINE.nunique()

14

### Tip 7 - Drop Columns

Let's drop the column added earlier.

In [17]:
flights1.drop(['MIXED_TYPE'], axis=1, inplace=True)

In [18]:
flights1.loc[:, 'MONTH':'ARR_DELAY'].equals(flights.loc[:, 'MONTH':'ARR_DELAY'])

True